@import url("./assets/fonts.css");

#logo {
    position: absolute;
    left: 2vw;
    top: 2vh;

    font-family: 'Inter';
    font-style: normal;
    font-size: 64px;
    color: #000000;

    display: flex;
    flex-direction: row;
}

#threed {
    font-weight: 900;
}

#labs {
    font-weight: 500;
}

#top-right {
    position: absolute;
    right: 3vw;
    top: 3vw;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 12px;
}

#top-right-one {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.top-right-one-button {
    border-radius: 16px;
    width: 6.5vw;
    height: 8vh;
    background: #EAF35A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 10px;
}

.action-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: max(min(18px, 1vw),16px);
    line-height: 25px;
    display: flex;
    text-align: center;
    letter-spacing: 0.045em;
    text-transform: uppercase;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #000000;
    pointer-events: none;
    cursor: pointer;
}

#top-right-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

#grid-icon {
    width: 4.5vw;
    height: auto;
}

.top-right-two-button {
    width: 3.75vw;
    height: 3.75vw;
    background: #EAF35A;
    border-radius: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

/* -------------------------------- bottom right */

#bottom-right {
    position: absolute;
    bottom: 3vw;
    right: 3vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
}

.bottom-right-button {
    width: calc(13vw + 12px);
    background: #EAF35A;
    border-radius: 16px;
    height: 4.5vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#info {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 8px;
    top: 8px;

    background: #FFFFFF;
    border-radius: 999px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.045em;
    text-transform: lowercase;

    color: #000000;
}

/* -------------------------------- bottom right end */

/* bottom toolbar */
#bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 28px;

    position: absolute;
    left: calc(50% - 382px/2);
    bottom: 3vw;

    background: #F1F1F1;
    border-radius: 46px;
}

.yellow-circle {
    background: #EAF35A;
    border-radius: 999px;
    width: 3.75vw;
    height: 3.75vw;
}

.texture {
    width: 2.5vw;
    height: 2.5vw;
}

#plain {
    background: #8E8E8E;
    width: 100%;
    height: 100%;
}

#brick {
    width: 2.5vw;
    height: 2.5vw;
}

.vertical-line {
    width: 3.5vw;
    height: 0px;
    
    border: 2px solid #FFFFFF;
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
}

